.pet{
  padding: 12px;
  margin-bottom: 8px;
  width: 270px;
  height: 270px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

.pet__img img,.pet__info{
    width: 100%;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    object-fit: fill;
    overflow: hidden;
}
.pet__info{
  width: 250px;
  height: 253px;
  display: none;
  position: absolute;
  color:black;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%, rgba(1,1,1,0) 100%);
  border:none;
}
/*
.pet:hover>.pet__info{
  display: block;
}
*/